<body id="auth-body">

	<nav>
		<ul id="main-nav">
			<li><a href="">My Menu</a></li>
			<li>
				<form action="/sessions" method="post" id="logout">
			      <!-- Since delete is not supported... we pass a hidden input -->
			      <!-- hidden  _method  delete says... "I wish I could send this as a delete" -->
			      <input type="hidden" name="_method" value="delete">
			      <button type="submit">Logout</button>
			    </form>
			</li>
		</ul>
	</nav>


	<section id="party-list-container">


	</section>






	

</body>


<script type='text/javascript'>
var partyCollection = new app.PartyCollection();
var partyListView;

$(document).ready(function(){


  partyListView = new app.PartyListView({
    collection: partyCollection,
    el: $('#party-list-container')
  });

  partyCollection.fetch();

});
</script>
