<body id="auth-body">


	<form action="/sessions" method="post" id="logout">
      <!-- Since delete is not supported... we pass a hidden input -->
      <!-- hidden  _method  delete says... "I wish I could send this as a delete" -->
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Logout</button>
    </form>


	<nav>
		<ul id="main-nav">
			<li><a href="/menu">My Menu</a></li>
		</ul>
	</nav>


		<section id="party-list-container">


		</section>

		<section id="auth-menu-container">



		</section>




	

</body>


<script type='text/javascript'>
//PARTY
app.partyCollection = new app.PartyCollection();
var partyListView;

//FOOD
var foodCollection = new app.FoodCollection();
var foodListView;


$(document).ready(function(){

//===============================================
//				Party List View
//===============================================
  partyListView = new app.PartyListView({
    collection: app.partyCollection,
    el: $('#party-list-container')
  });

  app.partyCollection.fetch();


 //===============================================
//				Add Order Food List View
//===============================================
  foodListView = new app.AuthFoodListView({
			collection: foodCollection,
			el: $('#auth-menu-container')
		});

	foodCollection.fetch();

//-----Food Menu hidden on load
	$('#auth-menu-container').hide();

	
	

});
</script>





