<html>
<head>
	<title>Restaurant App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>


	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>