<body id="auth-body">

	<input type='hidden' id='user_id' value='<%= @user.id %>'>

	<form action="/sessions" method="post" id="logout">
      <!-- Since delete is not supported... we pass a hidden input -->
      <!-- hidden  _method  delete says... "I wish I could send this as a delete" -->
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Logout</button>
    </form>

	<nav>
		<ul id="main-nav">
			<li><a href="/menu">My Menu</a></li>
			<li id="add-party">Add Party</li>
			<li>Grid View</li>
		</ul>
	</nav>

	<section id="party-list-container"></section>

	<section id="auth-menu-container"></section>

	<form action="/api/foods" method="post" id="add-party-form">
	  <span id="add-form-close">X</span>
      <input type="text" id="tableNum" placeholder="table number...">
      <input type="text" id="partySize" placeholder="number of guests...">
      <button type="submit" id="add-party-button">Add Item</button>
    </form>

</body>


<script type='text/javascript'>
//PARTY
app.partyCollection = new app.PartyCollection();
var partyListView;

//FOOD
var foodCollection = new app.FoodCollection();
var foodListView;

$(document).ready(function(){
//===============================================
//				Party List View
//===============================================
  partyListView = new app.PartyListView({
    collection: app.partyCollection,
    el: $('#party-list-container')
  });

  app.partyCollection.fetch();

 //===============================================
//				Add Order Food List View
//===============================================
  foodListView = new app.AuthFoodListView({
			collection: foodCollection,
			el: $('#auth-menu-container')
		});

	foodCollection.fetch();
	$('#auth-menu-container').hide();

//===============================================
//				Add Party Item
//===============================================
		$('#add-party-form').hide();


//BRINGS UP MENU
		$('#add-party').on("click", function(evt){
			evt.preventDefault();
			$('#add-party-form').show();
		});

//ADDS FOOD ITEM AND CLOSES MENU ON COMPLETION
		$('#add-party-button').on("click", function(evt){
			evt.preventDefault();
			var tableNum = $('#tableNum').val()
			var partySize = $('#partySize').val()
			var userId = $('#user_id').val()

			$.ajax({
				method: 'post',
				url: '/api/parties',
				data: { party: { table_num: tableNum, party_size: partySize, paid: "false", user_id: userId } },
				success: function(){
					console.log("success add!");
					app.partyCollection.fetch({reset: true});
				}

			})
			$('#add-party-form').hide();
		})

//CLOSE BUTTON
		$('#add-form-close').on("click", function(evt){
			evt.preventDefault();
			$('#add-party-form').hide();
		});

});

</script>





