<body id="auth-body">

	<nav>
		<ul id="main-nav">
			<li><a href="/menu">My Menu</a></li>
			<li>
				<form action="/sessions" method="post" id="logout">
			      <!-- Since delete is not supported... we pass a hidden input -->
			      <!-- hidden  _method  delete says... "I wish I could send this as a delete" -->
			      <input type="hidden" name="_method" value="delete">
			      <button type="submit">Logout</button>
			    </form>
			</li>
		</ul>
	</nav>


		<section id="party-list-container">


		</section>

		<section id="auth-menu-container">
			<h2 id="close-button">X</h2>


		</section>




	

</body>


<script type='text/javascript'>
//PARTY
app.partyCollection = new app.PartyCollection();
var partyListView;

//FOOD
var foodCollection = new app.FoodCollection();
var foodListView;


$(document).ready(function(){

	//PARTY 
  partyListView = new app.GeneralListView({
    collection: app.partyCollection,
    modelView: app.PartyView, 
    el: $('#party-list-container')
  });

  app.partyCollection.fetch();


  //FOOD
  foodListView = new app.GeneralListView({
			collection: foodCollection,
			modelView: app.AuthFoodView,
			el: $('#auth-menu-container')
		});

	foodCollection.fetch();

	$('#auth-menu-container').hide();

	
	

});
</script>





