<html>
<head>
	<title>Restaurant App</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,800|Roboto+Condensed:300,400|Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body id="auth-body">

	<h1 id="main-interface-header">My Servus</h1>
	<section id="food-container">

	</section>

	<script type="text/template" id="food-template">
		<h1> <%%= name %> </h1>

	</script>
	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>