<html>
<head>
	<title>Restaurant App</title>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

	<section id="food-container">

	</section>

	<script type="text/template" id="food-template">
		<h1> <%%= name %> </h1>

	</script>
	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>