<html>
<head>
	<%= erb :templates %>
    <script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/party_model.js"></script>
	<script type="text/javascript" src="/javascripts/food_model.js"></script>
	<script type="text/javascript" src="/javascripts/order_model.js"></script>
	<title>Restaurant App</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,800|Roboto+Condensed:300,400|Roboto:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
    <%= yield %>
</html>