<body id="menu-body">

	<form action="/sessions" method="post" id="logout">
      <input type="hidden" name="_method" value="delete">
      <button type="submit">Logout</button>
    </form>

	<nav>
		<ul id="menu-nav">
			<li><a href="/">My Tables</a></li>
			<li id="add-item">Add Item</li>
		</ul>
	</nav>

	<form action="/api/foods" method="post" id="add-food-form">
	  <span id="add-form-close">X</span>
      <input type="text" id="foodName" placeholder="name...">
      <input type="text" id="foodType" placeholder="type of cuisine...">
      <input type="text" id="foodCents" placeholder="price (cents)...">
      <input type="text" id="foodNut" placeholder="nuts?...">
      <input type="text" id="foodGluten" placeholder="gluten?...">
      <button type="submit" id="add-food-button">Add Item</button>
    </form>

	<section id="menu-container"></section>

</body>

<script ttpe="text/javascript">

	var foodCollection = new app.FoodCollection();
	var foodListView;

	$(document).ready(function(){

	//===============================================
	//				Menu Food List View
	//===============================================
		foodListView = new app.FoodListView({
			collection: foodCollection,
			el: $('#menu-container')
		});

		foodCollection.fetch();

	//===============================================
	//				Add Food Item
	//===============================================
		$('#add-food-form').hide();

	//BRINGS UP MENU
		$('#add-item').on("click", function(evt){
			evt.preventDefault();
			$('#add-food-form').show();
		});

	//ADDS FOOD ITEM AND CLOSES MENU ON COMPLETION
		$('#add-food-button').on("click", function(evt){
			evt.preventDefault();
			var foodName = $('#foodName').val()
			var foodType = $('#foodType').val()
			var foodCents = $('#foodCents').val()
			var foodNut = $('#foodNut').val()
			var foodGluten = $('#foodGluten').val()
			$.ajax({
				method: 'post',
				url: '/api/foods',
				data: { food: { name: foodName, cuisine_type: foodType, cents: foodCents, nut_allergens: foodNut, gluten_allergens: foodGluten } },
				success: function(){
					console.log("success add!");
					foodCollection.fetch({reset: true});
				}
			})
			$('#add-food-form').hide();
		})

	//CLOSE BUTTON
		$('#add-form-close').on("click", function(evt){
			evt.preventDefault();
			$('#add-food-form').hide();
		});

	});

</script>