<body id="menu-body">

	<nav>
		<ul id="menu-nav">
			<li><a href="/">My Tables</a></li>
			<li>
				<form action="/sessions" method="post" id="logout">
			      <!-- Since delete is not supported... we pass a hidden input -->
			      <!-- hidden  _method  delete says... "I wish I could send this as a delete" -->
			      <input type="hidden" name="_method" value="delete">
			      <button type="submit">Logout</button>
			    </form>
			</li>
		</ul>
	</nav>


	<section id="menu-container">


	</section>






	

</body>

<script ttpe="text/javascript">

	var foodCollection = new app.FoodCollection();
	var foodListView;

	$(document).ready(function(){

		foodListView = new app.GeneralListView({
			collection: foodCollection,
			modelView: app.FoodView,
			el: $('#menu-container')
		});

	foodCollection.fetch();

	});


</script>


