<html>
<head>
	<title>Restaurant App</title>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,400|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body id="non-auth-body">

	<!-- <h1 id="logo-main"><span id="first-s" class="logo-s">s</span><span id="logo-middle" class="middle">ervu</span><span id="last-s" class="logo-s">s</span></h1> -->


	<form action="/sessions" method="post" id="sign-in-form">
		<input type="text" name="username" placeholder="username...">
		<input type="text" name="password" placeholder="password...">
		<input type="submit" value="Log-In">
	</form>


	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>