<html>
<head>
	<title>Restaurant App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

	<form action="/sessions" method="post">
		<input type="text" name="username" placeholder="username...">
		<input type="text" name="password" placeholder="password...">
		<input type="submit" value="Log-In">
	</form>


	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>