<html>
<head>
	<title>Restaurant App</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,800|Roboto+Condensed:300,400|Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body id="non-auth-body">

	<h1 id="logo-main"><span id="logo-first-s" class="logo-s">s</span><span id="logo-middle" class="fadeIn">ervu</span><span id="logo-last-s" class="logo-s">s</span></h1>
	<div class="fadeIn" id="non-auth-container">
		<h2 id="tagline">A SERVICE FOR SERVERS</h2>


		<form action="/sessions" method="post" id="sign-in-form">
			<input type="text" name="username" placeholder="username...">
			<input type="text" name="password" placeholder="password...">
			<input type="submit" value="Sign-In">
		</form>

		<p id="sign-up-text">Dont have an account? <a href="" id="sign-up-click">Sign Up!</a></p>
		<form action="/users" method="post" id="sign-up-form">
			<input type="text" name="username" placeholder="username...">
			<input type="text" name="password" placeholder="password...">
			<input type="submit" value="Sign-Up">
		</form>
	</div>

	<script type="text/javascript" src="/javascripts/libs/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/libs/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>