<body id="non-auth-body">

	<h4 id="welcome-to">Welcome to,</h4>
	<h1 id="logo-main"><span id="logo-first-s" class="logo-s">s</span><span id="logo-middle" class="fadeIn">ervu</span><span id="logo-last-s" class="logo-s">s</span></h1>
	
	<div class="fadeIn" id="non-auth-container">
		<h2 id="tagline">A SERVICE FOR SERVERS</h2>
		<form action="/sessions" method="post" id="sign-in-form">
			<input type="text" name="username" placeholder="username...">
			<input type="password" name="password" placeholder="password...">
			<input type="submit" value="Sign-In">
		</form>
		<p id="sign-up-text">Dont have an account? <a href="" id="sign-up-click">Sign Up!</a></p>
		<form action="/users" method="post" id="sign-up-form">
			<input type="text" name="user[username]" placeholder="username...">
			<input type="password" name="password" placeholder="password...">
			<input type="submit" value="Sign-Up" id="sign-up-submit">
		</form>
	</div>

</body>


<script type='text/javascript'>
var signUpButton = $('#sign-up-click');
var signUpForm = $('#sign-up-form');

$(document).ready(function(){

	$(signUpForm).hide();

	$(signUpButton).click(function(evt){
		evt.preventDefault();
		$(signUpForm).slideToggle("slow");
	});

	$('sign-up-submit').on("click", function(evt){
		evt.preventDefault();
		$(signUpForm).hide();
	})

});
</script>


