

<!-- ===============================================
				PARTY VIEW
=============================================== -->

<script type="text/template" id="party-template">

		<h2> Table Num: <%%= table_num %> </h2>
		<h3> Guests: <%%= party_size %> </h3>
		<button class="add-order">Add Orders</button>
		<button class="view-orders">View Orders</button>
		<ul class="orderList<%%= id %>"></ul>


</script>