

<!-- ===============================================
				PARTY TEMPLATE
=============================================== -->

<script type="text/template" id="party-template">
		<p class="table-close">X</p>
		<h2> Table Num: <%%= table_num %> </h2>
		<h3> Guests: <%%= party_size %> </h3>
		<h3> Status: <%%= isPaid %> </h3>
		<div>
		<button class="add-order">Add Orders</button>
		<button class="view-orders">View Orders</button>
		</div>
		<ul class="orderList<%%= id %>"></ul>
</script>

<!-- ===============================================
				FOOD TEMPLATES
=============================================== -->

<script type="text/template" id="food-template">
		<h2> <%%= name %> </h2>
		<h3> <%%= cents %> </h3>
		<button class='delete-food'>Delete</button>
</script>


<script type="text/template" id="auth-food-template">
		<h2> <%%= name %> </h2>
		<h3> <%%= cents %> </h3>
		<button class='select-food'>Select</button>
		<button class='finalize-order'>Add to Order</button>
</script>




